@media screen and (min-width: 1000px) {
  /* line 2, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .desktop {
    display: block;
  }

  /* line 5, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .secondary .right {
    margin-top: 10px;
  }

  /* line 9, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .hero .wrap-no {
    height: 450px;
    background-size: cover;
  }

  /* line 15, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #hero .owl-item:not(.center) img {
    height: 250px;
    width: auto;
  }

  /* line 19, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #hero .owl-item.center img {
    height: 335px;
    width: auto;
  }

  /* line 23, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #hero .owl-nav .owl-prev {
    left: 212px;
  }

  /* line 26, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #hero .owl-nav .owl-next {
    left: 278px;
  }

  /* line 29, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #hero .owl-nav .owl-prev, #hero .owl-nav .owl-next {
    bottom: 25px;
  }

  /* line 32, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .num {
    bottom: 47px;
    left: 161px;
  }

  /* line 36, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .review .wrap {
    height: 270px;
  }

  /* line 40, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #testimonials {
    width: 790px;
  }

  /* line 43, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #testimonials .owl-dots {
    margin: 0;
    width: auto;
    left: auto;
    right: -45px;
    top: 65%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }

  /* line 53, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #testimonials .owl-dots .owl-dot {
    display: block;
  }

  /* line 56, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  #testimonials .item {
    width: 790px !important;
  }

  /* line 59, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .kathy .wrap {
    padding-left: 65px;
  }

  /* line 62, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .kathy .quote {
    width: auto;
  }

  /* line 65, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .kathy p {
    font-size: 24px;
  }

  /* line 68, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .whisper .wrap {
    padding: 73px 20px;
  }

  /* line 71, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .bio {
    max-width: calc(100% - 290px);
    max-width: -webkit-calc(100% - 290px);
    max-width: -moz-calc(100% - 290px);
  }

  /* line 76, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .about .container {
    position: relative;
  }

  /* line 79, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .polaroids {
    position: absolute;
    right: 0;
    top: 220px;
  }

  /* line 84, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .polaroids img {
    margin-left: auto;
    display: block;
  }

  /* line 88, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .polaroids img:nth-of-type(2) {
    margin: 50px 0;
    display: block;
  }

  /* line 92, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .polaroids small {
    color: #666;
    display: inherit;
    text-align: right;
    padding: 0px 10px 40px 0;
  }

  /* line 98, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .container.thsh .hero {
    padding-bottom: 20px;
  }

  /* line 101, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .container.thsh .hero .right img {
    height: 390px;
    width: auto;
  }

  /* line 105, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .container.thsh .hero .left {
    padding: 40px 0px 0px 50px;
  }

  /* line 108, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .thsh .hero .right {
    margin: 0;
  }

  /* line 111, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .col1 {
    width: calc(100% - 260px);
    width: -webkit-calc(100% - 260px);
    width: -moz-calc(100% - 260px);
  }

  /* line 116, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .col2 {
    width: 250px;
  }

  /* line 119, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .contact .hero .wrap {
    height: 340px;
    background-position: initial;
    background-size: cover;
  }

  /* line 124, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .feeds .wrap, .t-timeline, .i-timeline {
    height: 450px;
  }

  /* line 127, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .t-timeline h6 {
    padding-top: 60px;
  }

  /* line 130, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .blogs .col.col-1 {
    width: calc(100% - 310px);
  }

  /* line 133, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .blogs .col.col-2 {
    width: 310px;
    padding-left: 60px;
  }

  /* line 137, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .blogs .item .right {
    width: 290px;
  }

  /* line 140, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .blogs .item .left {
    width: auto;
  }

  /* line 143, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .hero .left {
    width: 60%;
    padding: 40px 50px;
  }

  /* line 147, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .hero .right {
    padding: 85px 20px 50px;
    max-width: none;
  }

  /* line 151, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .buy p {
    max-width: 740px;
  }

  /* line 154, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .buy .button {
    right: 115px;
  }

  /* line 157, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .hero .right img {
    max-width: 290px;
    display: block;
    margin: auto;
  }

  /* line 162, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .hero .right {
    width: 40%;
  }

  /* line 165, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .home-wrap {
    background-size: 100% 450px;
    height: 450px;
  }

  /* line 172, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .contact .col-1 {
    width: 600px;
  }

  /* line 175, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .contact .bio {
    max-width: 100%;
  }

  /* line 178, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .contact .col-2 {
    width: 400px;
  }

  /* line 181, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .news .wrap {
    padding: 45px 60px;
  }

  /* line 184, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .mug .col-1.col {
    width: 530px !important;
    padding: 0 !important;
  }
}
@media (max-width: 1020px) {
  /* line 190, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000.css.scss */
  .secondary .wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}
