@media screen and (min-width: 1000px) {
  /* line 4, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .thsh .hero .right {
    margin-top: 30px;
  }

  /* line 8, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .readersguide::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAABVCAYAAABgpvkGAAAGhUlEQVR4nO3cT2wUZRjH8eeZnaVsW%2FAPqTTghYrYCyEhpBGRIJFgQoIxIZGLBGlKMEbiyXrUcNCT8aAeIEXUE5hoPDURY5BEidlECcHDilBjolApGCVbWtqdfT3YqbMvM7Oz3VnQne8n2ezOzDvvO5ffvDPzvjsiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIDW0YXuePjw4Va0Ye5gXSIicuDAgQaqBP6f3BbVu9ATyIJPPHXqShR6oF2lHXQ7qM0E1w9nmnUQeGRSmkHXBL%2Fj2CGM2q%2BR%2BuyAa0g7QNtLK%2Bhhwba%2F4wRD2Wh7Sesm7MisNIIeFfJGgt5Mm0kQdmRa2pfudtDDwm4HrNHePNhe1LIdbLs9IFOaDXpYkDXkE7ZPM71rvWcAYXXa7dGrIzNa0aMHP46IyNDQ0AeO4zwrIn%2FOlZ0wxlw1xvxmjPnJ87zvL1%2B%2B%2FPXJkyf%2Fimtg%2B%2Fbt96xYseLxXC63XlUfVtWVqvqAiPTMFbm3Wq1%2BPDIy8vxc%2B9WQagg3MqfZCTNh4Z4P%2BdDQ0LsiIqr6hDHmTLlcHnFdt9txnCWu6y5X1VWO4%2FSp6oCILDPGfFOpVI6dPn36k7GxsYqISF9fn7tly5ZdruvuU9VNInLdGFOsVqtjxphfKpXKeLVavVGpVMrd3d1DqvqYMeYrEZGRkZGX5J%2Bwm6gPE2aQBa0YR5%2F%2FOI4z6G%2FwPO%2Bz48ePfyf%2FhkyC37t3736ku7t7Vz6ff3Pbtm3Dk5OT%2B0REurq6jonIfZ7nHS2Xyy%2BfOHHiRwl%2Fsq%2BDg4NPu67bp6p9c%2BsPSu3JjN4cmdSKcfSoe3O7bE3o5gL8xsDAwNtr16491NXV9YWIiOd5H54%2Ff%2F61YrE4VafdqG3BZwLclyOT0h5HDxteExERY4wdujCmWCxOFYvFV%2Fbv379eRCpHjx4dDuwTN4lG59q4bb3UhpywI3PSHEePDHlCNeEzxtyIKNNo3YQdmeekXF8aU1%2BTjH0nDelCjgdoO2kFPWwcvV65oNuCq6pGVRuZ8BJ7WZ%2BgHNC20u7RgxYyTTWup663PY1jANpSM0FvVU9pB3ohAY%2BS9MoDaCut7NEb0UiQeYgGNKiVD%2BNqBIa%2Bouamx9WRaHvI8FqiYwPaXSteJRU3YSbpX1fVOjEEh9Xipt3GHQtXAsisVr0zLoofRkdq55xXJTr8YSF2JFnQAUhzQV%2FIO92iyvrBD5azTwr2tmaDnuZDPuA%2FLc0ePdhDhwkLo39Jbe8XLBcXdHs5bpyeYCOz0gq6PTW1XuD976hw2%2BWj5rDXu%2BcPOw7Cjsy5G%2Ffo9kkh2Kv7y8En6P7IQHB7WMC5RwcipBF0%2B7XKob2567qb9u7dO2yMmZ57UcTvN2%2Fe%2FPXChQsXS6XSpEQH1b90n9%2Fe39%2FftWbNmtWdnZ0Puq673HGcpaq62HXdTRHHFzYJB8iMtO%2FR7cv3eY7jbOjo6NgQXLd06VLp7e01mzdvvuR53rdTU1Ofnzp16svx8fGZQF3a29vbsXXr1icLhcJTuVzuUVV9SJL14Fy2A5L%2BPbr9qqYkVFVXu667esmSJc%2Ft3LlzYnp6%2Bh3%2F2Pbs2fPi4sWLD6pqT516oo7LPh7CjsxJu0f3v%2F2x8Yapak%2BhUDjkLxcKha1NHtNCTj5AW0nrHt1eroqIc%2BTIkW6Ze3i2bt26rkKh0LFs2bL7Ozs7l%2Bfz%2Bd58Pt%2BXy%2BXW5nK5daq6KlFjxvzsed45z%2FN%2BmJ2dHZudnb0yNTV19dq1a9dv3bo1c%2Fbs2bLUnmyiXg4JZEYrnrr7IfJ7dBURPXfuXFlEJkXkDxG5FNwmIrJjx46%2Bnp6eZxYtWjSoqitrKjTmyszMzPsTExOfjo6Ojlnt2Jfl9ow7go3Mazbo9V7L5E9tDZvgIsHv0dHRiyLyVn9%2F%2F3sbN258PZ%2FPvyAiUqlUPjpz5sxwqVSaFrntPjtJ2KN6c8KPzEi7Rw%2B7jE8UdP%2B7VCrdLJVKwyLyakidjQY9bBnInDTH0e3e3R5fTxJ0%2B7fdjv07Kuhx6%2By6gLbX6h7dX2efCOICXi%2FoSXv4qH2AzElzHF2ktge3t2tIuaie3A571Ky2uPBHHQeQOa3q0cMCH3YpHywfLBsX9LB6o8rVWw9kQqv%2B1BIWLDvMcSGPugWo10bceiCz7uS%2F15KEP6pcI3UCsNzpv6naosKftCwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMBd9jc36DpOOD%2FrOQAAAABJRU5ErkJggg%3D%3D);
    position: absolute;
    bottom: -5px;
    left: -6px;
  }

  /* line 15, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .readersguide::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAABVCAYAAABgpvkGAAACrklEQVR4nO3cv4scZRgH8OdZD4TkMHeQxBhRjhA7c5FAQIQQsEidBIKCNpriUuS%2FsfGEJEUaq%2FywFFKIIGgISjrRQgnxNI2eXOIPyL6pLs7N7Szn7bwbop8PLDM787wz23z3fXZ2diMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKYhn%2FQLgP%2BS5eXlcbubeStbPebS0tK2X8%2B6mYmPAIzTNZm2t285%2BNsh6FDHv%2B2W1%2BurBF7QYTrGBb8Z7owKYR%2F0fUBgU6iztZ4d27rGT0zQoa5sLEe9AWSrpj2uF1p3qKcd4K7wlvinZW%2B27r218YIO%2Fepq2%2FPqd8PbGfHtwfl899Xd%2BXfH%2BHbYe6F1hzo2fQbPiNsl4uT3v5YrX98rO2J0617l3hZBh3o2hPboC%2FleRnxcIk78uFqufHOv7IzRF%2BeaY3sJvqBDXY%2BD%2FOJsPnx9f54dZFwuEW%2F%2BsFqu3%2FqlzLbrwlV3eKrlvp05PP7S4Nwg42KJOHbn9%2FLJVytlV%2B0TCzpM2dyzMTyxMDg%2FyPiwRLzx01q5Wvucgg5PztTy5%2Bs1mLLf%2ForBZ3eGHwxLvJ8RX%2ByfzVO1zynoMD3l5%2FvlmS9XykfDEu9kxOcvP5cnjzyfa7VPLOhQ1%2BMbX%2B6ulZmbK%2BVCiXg7I24s7Mozr%2B3NB4265qNXgg71rN%2FlFhERN1fKpRLxVkZ8emAuzyzuyT8bde1wl9ZyIi7GQR2ltV5KxKGMuHZwPk8v7sk%2FYvMMXmU2jzCjQ982zOKN5%2BXUK4PDY8aMWvZG0KGerl%2BlddVGbO4EeiHoUNeon54297Vru%2FZNRNChf13t%2B%2Fr6qPpxzycm6DAdWw2vi3HwFBnVqm%2BlvgpBh7ra%2F%2FA6ajsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADA%2F8Mjxj6ZGSjNdBEAAAAASUVORK5CYII%3D);
    position: absolute;
    right: 2px;
    bottom: -2.9px;
  }

  /* line 22, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .col {
    padding: 0;
  }

  /* line 26, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .col1 {
    float: left;
    width: 750px;
    padding-right: 40px;
  }

  /* line 32, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .col2 {
    float: right;
    width: calc(100% - 750px);
  }

  /*************** 
  MOORE PLACE 
  ****************/
  /* line 42, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .videoSol {
    float: left;
    width: 50%;
  }

  /* line 49, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .header-moore .bluebox {
    /*		float: right;
    		height:326px;
    		width: 50%;*/
    padding: 33px;
    vertical-align: top;
    padding-top: 30px;
  }

  /* line 57, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .header-moore .bluebox p {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 61, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .quote-block h3 {
    margin: 14px 35px;
  }

  /* line 66, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-1 {
    margin-left: -150px;
    margin-top: -50px;
  }

  /* line 71, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-1 h3 {
    padding: 0;
    margin: 104px 0px 0 36px;
  }

  /* line 77, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-1 p {
    padding: 0;
    margin: 10px 11px 0 39px;
  }

  /* line 82, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-2 {
    padding: 0;
    margin-left: 156px;
  }

  /* line 87, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-2 h3 {
    padding: 0;
    margin-left: 38px;
    margin-right: -4px;
  }

  /* line 94, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-2 p {
    margin: 5px 51px 0px 40px;
    padding: 0;
  }

  /* line 99, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-3 {
    margin-top: 46px;
    margin-left: 0;
  }

  /* line 104, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-3 h3 {
    padding: 0;
    margin: 61px 0 11px 25px;
  }

  /* line 110, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-3 p {
    margin: 0 0 0 26px;
    padding: 0;
  }

  /* line 116, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-4 {
    margin-top: -12px;
    margin-left: -87px;
  }

  /* line 121, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-4 h3 {
    margin-top: 47px;
    margin-left: 28px;
  }

  /* line 127, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-4 p {
    margin-left: 32px;
    margin-right: 33px;
    padding: 0;
  }

  /* line 133, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-5 {
    margin-top: 13px;
    margin-left: -6px;
  }

  /* line 138, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-5 h3 {
    padding: 15px;
    margin-top: 32px;
    margin-left: 23px;
  }

  /* line 145, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-5 p {
    margin-left: 30px;
    padding: 0;
    margin-top: 0px;
  }

  /* line 151, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-6 {
    margin-left: 101px;
    margin-top: -1px;
  }

  /* line 156, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-6 h3 {
    padding: 0;
    margin: 51px 0px 0 39px;
  }

  /* line 162, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-6 p {
    margin-left: 24px;
    margin-right: 80px;
    padding: 0 0 0 13px;
  }

  /* line 168, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-7 {
    margin-top: 38px;
    margin-left: -181px;
  }

  /* line 173, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-7 h3 {
    padding: 0;
    margin: 46px 0px 15px 38px;
  }

  /* line 179, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-7 p {
    padding: 0;
    margin: 0 61px 0 36px;
  }

  /* line 184, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-8 {
    margin-top: 0;
    margin-left: 157px;
  }

  /* line 189, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-8 h3 {
    margin: 36px 50px 17px 31px;
  }

  /* line 194, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-8 p {
    margin: 7px 66px 0 33px;
    padding: 0;
  }

  /* line 199, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  #slide-9 {
    margin-top: 50px;
    margin-left: 25px;
  }

  /* line 204, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-9 h3 {
    padding: 0;
    margin: 37px 0px 0 42px;
  }

  /* line 210, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .moore-carousel .slide-9 p {
    padding: 0;
    margin: 11px -85px 0 40px;
  }

  /*************** 
  ABOUT YOU 
  ****************/
  /* line 219, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .hide-ex {
    padding-bottom: 50px;
  }

  /* line 222, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .hide-ex .jumbo-tron {
    min-height: 450px;
  }

  /* line 225, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .image-share-text h3 {
    margin: -7px 63px 14px -72px;
    font-size: 18px;
    color: #fff;
    padding-bottom: 10px;
  }

  /* line 233, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .image-share-text .button {
    width: 85px;
    height: 32px;
    color: #fff;
    margin: 0px 73px 45px -68px;
    border: 1px solid #fff;
    border-radius: 30px;
    letter-spacing: 2px;
    display: inline-block;
    font: bold 12px/2px 'futura-pt', verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 29px;
  }

  /* line 249, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .about-you-portrait img {
    position: absolute;
    right: -89px;
    z-index: -1;
    top: -167px;
  }

  /* line 256, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .about-you-portrait {
    position: relative;
    height: 557px;
    background: none;
  }

  /* line 262, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/1000_EB.css.scss */
  .about-you-boxes .lgt-blue-box h6 {
    padding-top: 29px;
    line-height: 1;
    text-align: left;
  }
}
