@media (min-width: 768px) {
  /* line 2, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .mobile {
    display: none;
  }

  /* line 5, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .tablet {
    display: block;
  }

  /* line 8, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .wrap-no {
    padding: 0;
  }

  /* line 11, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .big-wrap {
    margin-top: 0px;
    padding-top: 0px;
  }

  /* line 15, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .container.mug {
    background-position: bottom right;
  }

  /* line 18, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .nav {
    padding-top: 0;
    position: static;
    width: 100%;
    background: #fff;
    height: auto;
  }

  /* line 25, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary {
    height: 154px;
    position: static;
  }

  /* line 29, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .left, .secondary .right {
    position: static;
    width: auto;
  }

  /* line 33, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .wrap {
    padding: 52px 0;
    border-bottom: 1px solid #d9d9d9;
  }

  /* line 37, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .social a:first-of-type {
    margin-left: 0;
  }

  /* line 40, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .social a:not(.button) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    background: #71b4d5;
    cursor: pointer;
    display: block;
    margin-left: 10px;
    float: left;
    margin-top: 11px;
  }

  /* line 53, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .right a {
    font: bold 10px/37px 'futura-pt', verdana, sans-serif;
    color: #999;
    display: inline-block;
    padding-left: 22px;
    text-transform: uppercase;
    float: none;
    width: auto;
    margin-left: 0;
    line-height: 40px;
  }

  /* line 65, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .right a:hover {
    color: #71b4d5;
  }

  /* line 68, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .button {
    padding-right: 0;
    margin-left: 25px;
  }

  /* line 72, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .home.tablet img {
    width: 190px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }

  /* line 83, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .scroll .home.tablet img {
    width: 110px;
  }

  /* line 86, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .primary {
    height: 76px;
  }

  /* line 89, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .primary .wrap {
    max-width: 800px;
    margin: auto;
    display: table;
    padding: 0;
  }

  /* line 95, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .primary a {
    display: table-cell;
    letter-spacing: 1px;
    text-align: center;
    color: #487497;
    width: 20%;
    line-height: 76px;
  }

  /* line 103, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .primary a:hover {
    color: #71b4d5;
  }

  /* line 106, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .r {
    height: 230px;
    position: relative;
  }

  /* line 110, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .r.scroll {
    height: 130px;
  }

  /* line 113, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  nav.scroll .primary a {
    line-height: 50px;
  }

  /* line 116, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  nav.scroll .primary {
    height: 50px;
  }

  /* line 119, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  nav.scroll .secondary {
    height: 85px;
  }

  /* line 122, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  nav.scroll .secondary .wrap {
    padding: 20px 10px;
  }

  /* line 125, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .right a.button {
    position: absolute;
    top: 15px;
    right: 10px;
    border-color: #ccc;
    width: 120px;
    padding-left: 0;
    text-align: center;
  }

  /* line 134, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .scroll .secondary .left a.button {
    top: 20px;
    right: 143px;
  }

  /* line 138, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .secondary .right a.button:hover {
    border-color: #71b4d5;
  }

  /*.hero .right{
  	max-width: 290px;
  }*/
  /* line 144, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero, .hero .wrap-no {
    height: 400px;
    background-size: 100% 400px;
  }

  /* line 148, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero, #hero .owl-stage-outer {
    width: 100% !important;
    height: 400px;
    padding-top: 20px;
  }

  /* line 153, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-item:not(.center) img {
    width: 400px;
  }

  /* line 156, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-item.center {
    z-index: 3;
  }

  /* line 159, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-item {
    z-index: 2;
  }

  /* line 162, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-item.center img {
    width: 570px;
  }

  /* line 165, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-nav .owl-prev, #hero .owl-nav .owl-next {
    bottom: -4px;
  }

  /* line 168, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .num {
    position: absolute;
    left: 136px;
    bottom: 12px;
  }

  /* line 173, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-nav .owl-prev, #hero .owl-nav .owl-next {
    bottom: 40px;
  }

  /* line 176, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-nav .owl-prev {
    left: 187px;
  }

  /* line 179, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero .owl-nav .owl-next {
    left: 253px;
  }

  /* line 182, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #hero {
    background-size: 100% 425px;
    height: 425px;
  }

  /* line 186, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .book .wrap-no {
    display: table;
    height: 450px;
  }

  /* line 190, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .book .wrap-no > div {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }

  /* line 196, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .book .left {
    padding: 15px;
  }

  /* line 200, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .review .wrap {
    height: 300px;
  }

  /* line 203, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #testimonials .item {
    padding-top: 67px;
  }

  /* line 206, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #testimonials p {
    font: normal 21px 'futura-pt', arial, sans-serif;
  }

  /* line 209, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .kathy .wrap {
    height: 350px;
  }

  /* line 212, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .kathy .quote {
    width: 50%;
    max-width: 620px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }

  /* line 221, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .kathy h5 {
    font-size: 18px;
    text-align: right;
    position: relative;
    z-index: 2;
    padding-right: 15px;
    padding-top: 10px;
  }

  /* line 229, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .kathy h5 a:hover {
    text-decoration: underline;
  }

  /* line 233, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .kathy img {
    width: auto;
    height: 100%;
    display: block;
    right: 0;
    position: absolute;
    bottom: 0;
  }

  /* line 241, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .quote img {
    bottom: -69px;
    width: 300px;
    height: auto;
  }

  /* line 246, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .news .wrap {
    display: table;
  }

  /* line 249, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .news #mc_embed_signup .mc-field-group input {
    width: 330px;
  }

  /* line 252, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #mc_embed_signup {
    display: table-cell;
    width: 66%;
    vertical-align: middle;
  }

  /* line 257, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #mc_embed_signup_scroll {
    display: table;
  }

  /* line 260, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .news #mc_embed_signup .mc-field-group input[type="email"] {
    margin: 0 20px;
  }

  /* line 263, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .news .text, #mc_embed_signup .button, .news #mc_embed_signup .mc-field-group {
    display: table-cell;
    width: 33%;
  }

  /* line 267, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  #mc_embed_signup .button {
    margin-top: 20px !important;
  }

  /* line 270, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .buy .wrap {
    padding: 11px 60px;
  }

  /* line 273, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .buy p, .buy h3 {
    width: calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    float: left;
    margin: 0;
  }

  /* line 280, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .buy .button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    margin: 0;
  }

  /*ABOUT
  ______________________*/
  /* line 291, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .about .hero {
    margin-top: 0px;
  }

  /* line 294, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .about .words h3, .contact .words h3 {
    padding: 25px 0 10px;
    font-size: 28px;
  }

  /*BOOK
  _________________________*/
  /* line 300, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .thsh {
    padding-top: 0;
  }

  /* line 303, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .thsh .hero .left {
    float: left;
    width: 60%;
  }

  /* line 307, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .thsh .hero .right {
    float: right;
    margin-top: 150px;
    margin-right: 20px;
  }

  /*CONTACT*/
  /* line 313, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .feeds .wrap {
    display: table;
  }

  /* line 316, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .t-timeline, .i-timeline {
    width: 50%;
    display: table-cell;
  }

  /* line 320, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .i-timeline {
    padding: 30px 75px;
  }

  /* line 323, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .feeds .wrap, .t-timeline, .i-timeline {
    height: 418px;
  }

  /* BLOG
  _________________*/
  /* line 328, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .col {
    float: left;
  }

  /* line 331, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .item {
    width: 100%;
  }

  /* line 334, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .item > div {
    width: 50%;
  }

  /* line 337, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .author img {
    height: 113px;
  }

  /* line 340, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .col.col-1 {
    width: calc(100% - 210px);
  }

  /* line 343, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .blogs .col.col-2 {
    width: 210px;
  }

  /*Speaking*/
  /* line 347, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .speaking .hero .wrap {
    height: 340px;
  }

  /* line 351, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .speaking form .cf .field {
    width: 49%;
    float: left;
  }

  /* line 355, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .speaking form .cf .field:first-of-type {
    margin-right: 2%;
  }

  /* line 358, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .int:last-of-type {
    width: 680px;
  }

  /* line 361, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .media-vids .item {
    width: 50%;
    padding: 10px;
    float: left;
  }

  /* line 366, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .media-vids .item img {
    width: 100%;
  }
}
@media (min-width: 820px) {
  /* line 372, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .popup {
    margin: 10px auto;
  }
}
@media (min-width: 900px) {
  /* line 377, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .contact .col-1, .contact .col-2 {
    width: 50%;
    float: left;
  }

  /* line 381, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .media-vids .item {
    width: 33%;
    float: left;
  }

  /* line 385, /Users/kaileyowenizard/Desktop/code&co/Kathy_Blog/app/assets/stylesheets/768.css.scss */
  .contact .col-2 {
    padding-left: 20px;
  }
}
