<div class="author">
  <div class="cf">
    <div class="image"> 
      <%= image_tag 'kathy-izard.png' %>
    </div>
    <h3>Kathy Izard</h3>
    <h6>Author</h6>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet luctus metus nec pretium. Aliquam massa arcu, interdum vitae ex vulputate, gravida maximus diam.</p>
  <%= link_to 'About Kathy', site_aboutme_path %>
</div> 
<div class="bluebox">
  <h3>Categories</h3>
  <p>View all (13)<br>
  View all (13)<br>
  View all (13)<br>
  View all (13)</p>
</div>  
</div>