<section class="feeds">
    <div class="wrap cf">
        <div class="t-timeline">
            <a class="twitter-timeline" data-chrome="noheader nofooter noborders noscrollbars transparent" data-width="500" data-height="300"   data-tweet-limit="2" data-theme="light" href="https://twitter.com/kathyizardclt" target="_blank"></a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <h6><a href="https://twitter.com/kathyizardclt" target="_blank" class="icon-angle-right">Follow Kathy on Twitter</a></h6>
        </div>
        <div class="i-timeline">
            <!-- LightWidget WIDGET --><script src="http://lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/a24806eba1475617984d8618ff206827.html" id="lightwidget_a24806eba1" name="lightwidget_a24806eba1"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
            <h6><a href="https://instagram.com/kathyizardclt" class="icon-angle-right" target="_blank">Follow Kathy on Instagram </a></h6>
        </div>
    </div>
</section>