<section class="news" id="newsletter">
	<div class="wrap cf">
	<div class="text">
		<h6>Newsletter</h6>
		<p>Join my newsletter to be the first to learn about new books and recent news.</p>
	</div>
			<link href="http://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup form {padding: 0;}
				#mc_embed_signup{ clear:left;}
				#mc_embed_signup .button{ position:static;-webkit-appearance:none;background-color: #487497; margin: auto; display: block; border-radius: 30px;border:1px solid #487497 ; margin-bottom: 20px;}
				#mc_embed_signup .button:hover{ background-color:#fff; color:#487497; border:1px solid #487497 ;}
				
			</style>
		<div id="mc_embed_signup">
			<form action="http://thehundredstoryhome.us13.list-manage.com/subscribe/post?u=52ee19ebbf2252269f775b6f9&amp;id=039dd78d87" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
					</div>
					<div class="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>   
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_52ee19ebbf2252269f775b6f9_039dd78d87" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Connect with me" name="subscribe" id="mc-embedded-subscribe" class="button dblue"></div>
				    </div>
			</form>
		</div>
	</div>
</section>