
<h1 style="color:#71b4d5"><%= @speaking_user.first_name %> <%= @speaking_user.last_name %> has something to say!!</h1>

<p style="font-family:serif; color:#666;">
  "<%= @speaking_user.message %>"
</p>
<p style="font-family:serif; color:#666;">Email them back at <%= @speaking_user.email %></p>