<div class="container thanks">
<div class='wrap'>
  <div class='bluebox'>
    <h3>Thank you for contacting me, <%= @contact_user.first_name %>!</h3>
    <p>I will return your message as soon as possible.</p>
    <%= image_tag 'sig-white.png' %>
  </div>
  </div>
</div>
