<div class="thsh">
	<div class="wrap"> 
		<div class="hero">
			<div class="cf">
				<div class="left">
					<h2>A powerful true story about finding faith in yourself and something bigger.</h2>
						<p>Available on Amazon <br>and select stores October 1, 2016</p>
<!-- 					<span class="lblue button soon">Order 10/1/2016</span>
 -->				</div>
				<div class="right">
					<%= image_tag 'the-hundred-story-home.jpg' %>
				</div>
			</div>
		</div>
		</div>
		<div class="container">
			<div class="wrap">
		<!-- begin column content-->
				<div class="col1 col cf">
					<div class="intro">
						<h6>The Hundred Story Home</h6>
						<h3>Trust the Whisper</h3>

						<p><em>The Hundred Story Home</em> leads you on an inspirational journey that begins with a question, &quot;Where are the beds&#x3f;&quot; and ends with over one hundred formerly homeless people living in homes of their own.</p>
						<p>Author, Kathy Izard, was enjoying a comfortable existence when she came face to face with the reality that while her dedicated service at the community soup kitchen might be feeding her soul, it would never solve the bigger needs of the homeless population. Confronting the question of where are the beds&#x3f; Kathy realized that she had been called to take on what seemed like an insurmountable task&#xfe58;to build housing for Charlotte&#x27;s homeless.</p><p>Woven together with this uplifting story of a call to social action is Kathy&#x27;s personal struggle with faith, forgiveness and fulfillment. In telling her story, Kathy invites you to consider your rewriting your own. What&#x27;s calling you&#x3f; And as crazy at it seems, it may be crazier not to try.</p>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;From the beginning of time, I believe it was ordained that Kathy would have a life changing encounter with Denver Moore. He believed that as well. These unexpected encounters with spiritual beings like Denver told in The Hundred Story Home thrill believers and encourage doubters to search. Prepare yourself to be thrilled or to begin searching for your Denver.&quot;</p>
						</blockquote>
							<h6>Ron Hall, author <em>Same Kind of Different As Me</em> (Movie adaption February 2017)</h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;<em>The Hundred Story Home</em> is a captivating, beautifully-written account of one woman's search for purpose and how a combination of doubt, faith and doing the right thing a thousand times over led to the building of something important and extraordinary.  Kathy Izard writes as one of us, with all of our human failures, foibles and hopes. Her story makes belief real. <em>The Hundred Story Home</em> is a compelling tale and an inspirational guide in the search for a higher calling in our lives.&quot;</p>
						</blockquote>
							<h6>Mark Ethridge, Author of <em>Grievances and Fallout</em></h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;Kathy Izard tells two compelling stories in one: About her journey toward fulfilling her life's purpose and about Charlotte's journey to finally treating its chronically homeless with compassion and dignity.  Each has twists and turns, each has a happy ending, and Izard tells each with a style that will captivate readers far beyond her most natural audience. &quot;</p>
						</blockquote>
							<h6>Taylor Batten, Editorial Page Editor <em>The Charlotte Observer</em></h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;Kathy Izard, the remarkable and unlikely champion of housing for the homeless in Charlotte, gives us another gift – her honest, humble and unforgettable story of the chance encounters and enduring comments that conceived and sustained Moore Place despite repeated setbacks.&quot;</p>
						</blockquote>
							<h6>Ken Gepfert, a former editor at <em>The Charlotte Observer</em> and <em>Wall Street Journal</em></h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;Kathy Izard’s is a deeply personal story, movingly told. She reminds us that one person can truly make a difference, especially when challenged to Do Good. What a gift she has given us.&quot;</p>
						</blockquote>
							<h6>Susan Patterson, former program director, John S. and James L. Knight Foundation</em></h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;Compelling, inspiring, funny and poignant. . .This is a book about finding your purpose in a meaningful life; it’s about faith and family and friendship. But mostly, it’s a love story: a father’s love, a mother’s love, a daughter’s love and a beautiful, beautiful couple’s love.&quot;</p>
						</blockquote>
							<h6>Kristin Hills Bradberry, Nonprofit Advisor, Charlotte</h6>
					</div>
					
					<div class="quote-block">
						<blockquote>
					<p>&quot;An extremely powerful testament of courage, determination, and generosity.  Kathy invites and challenges us to "trust the whisper" of God and to take our own leap of faith. As her story reveals, when we do our lives are mysteriously transformed by God's love.&quot;</p>
						</blockquote>
							<h6>The Reverend Chip Edens, Rector, Christ Church, Charlotte</h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;In the book, Kathy describes how her father used to say to her &quot; You can do anything, Kathy, really anything. &quot; When you reach the last page of the Hundred Story Home, you completely agree with Kathy's dad-but equally powerfully, through Kathy's example, you believe you can do anything too. The Hundred Story Home leaves the reader inspired, as Gandhi said, to be the change we want to see in the world.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock
							<br>Associate Executive Director, Urban Ministry Center
						</h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;From homeless to home seems an impossible journey until you read this compelling true story. The author began serving soup and ended finding her soul while creating an 85-unit apartment building for some of America’s &quot;invisible&quot; people. Amazingly, Kathy Izard will teach you to see—and ask, <em><strong>&quot;Why not do this in my community?&quot;</strong></em>&quot;</p>
						</blockquote>
						<h6>Rolfe Neill, former publisher <em>The Charlotte Observer</em></h6>
					</div>
					<div class="quote-block">
						<blockquote>
					<p>&quot;Izard's candor and bravery in recounting her midlife crisis and her subsequent passion for her work is striking and inspirational. The Hundred Story Home is a road map to advocacy, and a touching story of faith, serendipity, and perseverance paying off in a big way.&quot;</p>
						</blockquote>
							<h6>Editor, SPR</h6>
					</div>
				</div> <!-- end quote-block col -->

				<div class="col2 col"> 
					<div class="video">
						<div class="icon-container">
						<a class="fancybox various fancybox.iframe" href="https://player.vimeo.com/video/180655215">
						<%= image_tag 'Kathy_AuthorVideo.png', class:'videoimage' %>
						</a>
						</div>			
					</div>
					<div class="readersguide lgt-blue-box">
							<h6>reader's guide</h6>
							<small style="color:#666;display:inline-block;width: 100%;text-align: center;position: absolute;bottom: 13px;">coming soon</small>
					</div>	
					<div class=" jumpstart-text lgt-blue-box">
						<h6>jumpstart your journey</h6>
						<small style="color:#666;display:inline-block;width: 100%;text-align: center;position: absolute;bottom: 13px;">coming soon</small>
					</div>
				</div> <!-- end col2 -->
			</div>
				<%= render 'partials/newsletter' %>
			
		</div>
</div>

