<div class="container thanks">
<div class='wrap'>
  <div class='bluebox'>
    <h3>Oh No! This is page is not available on my site.</h3>
    <p>To go back to my homepage <%= link_to 'click here','/' %>!</p>
    <%= image_tag 'sig-white.png' %>
  </div>
  </div>
</div>