<div class="speaking big-wrap">	
	<section class="hero"> 
		<div class="wrap">
		</div>
	</section>
	<div class="container mug">
		<div class="box-model cf wrap-no">
			<div class="col1 col">
				<div class="about-you">
					<h6>Speaking</h6>
					<h3>Book Kathy for Your Event</h3>
					<p>Thank you for your interest in having Kathy speak at your event. She’s inspired audiences of all sizes even as large as 1,000. Kathy has been invited all over North Carolina, South Carolina, Delaware, Georgia, Virginia, Tennessee and Texas and she is ready to encourage your community.  Whether it is a fundraising luncheon in your city or an inspirational interfaith talk, she can work with you to create a message that will connect with your audience. <br><br>Please contact me via email <a href="mailto:kathyizardspeaking@gmail.com?subject=Speaking Request&body=Hi Kathy! I am emailing to inquire about your speaking events..." class="button dblue">here</a></p><br>
<!-- 					<%= render 'speaking_users/form' %>
 -->				</div>
				<div class="int">
					<h6>Kathy Izard speaks and inspires at Eve Marie Carson Lecture Series</h6>
					<a href="http://www.dailytarheel.com/article/2018/02/eve-carson-lecture-0222"><%= image_tag 'kathy-izard-eve-carson-speaker.png', alt: "", class: "videoSol border" %></a>

				</div>
				<div class="int">
					<h6>Taking a Leap of Faith: A Conversation with Kathy Izard</h6>
					<a class="fancybox various fancybox.iframe church" href="https://player.vimeo.com/video/191372951"><%= image_tag 'christ-church-kathy.png', alt: "Taking a Leap of Faith: A Conversation with Kathy Izard", class: "videoSol border" %><div class="arrow-right"></div></a>

				</div>
				
				</p>
				<div class="int">
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s secret weapon is that she is always real, and she is always genuine. She brings an authenticity that stirs checkbooks, yes—but more importantly, stirs hearts and minds to say, “How can I help? I want to be part of that.” With Kathy, the listener is transformed from, “What can be done?” to “We can absolutely do this together.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Former Director, Moore Place</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>Kathy Izard has a story that resonates with civic groups as well as church groups. Her listening to an inner voice that led her to develop Moore Place will encourage others to listen harder to find what they can do to better their communities.&quot;</p>
						</blockquote>
						<h6>Denise Ratchford<br>Westminster Presbyterian Church, Charlotte</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s message was one that deeply resonated with people and motivated them to come and learn more about how they could listen to the voice of God and see where the power of God could change not only their lives but the lives of their community. If you’re considering a speaker on the topic of God’s marvelous grace to change us as individuals and to change our communities, then Kathy Izard is a perfect choice. People in our community are still talking about her and her message. The inspiration has extended far beyond just that Friday evening in March.&quot;</p>
						</blockquote>
						<h6>The Rev. Stephen Setzer<br>Associate Rector, Christ Church Christiana Hundred, Wilmington, DE</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>The Hundred Story Home is that book.  The book that you can't mention off hand that you can't just hope someone reads. It's the book that deserves to be pressed into someone's hands with a promise to have tea and talk about it. The Hundred Story Home is a book that you'll be pressing it into someone's hands. And Kathy Izard is that speaker who will be pressing into your heart.&quot;</p>
						</blockquote>
						<h6>Rachel Estes<br>Director of Missions and Outreach, Canterbury United Methodist Church, Birmingham, AL</h6>
					</div> 
				</div>
			</div>
			<div class="col2 col wrap-no">
				<div class="bluebox">
					
					<p class="speak-intro">Thank you for your interest in hearing Kathy speak. To see Past Events click <a class="pop-let" style="display: inline; text-transform:none;color:#71b4d5 !important; text-decoration:underline; cursor:pointer;font: normal 18px/24px 'adobe-caslon-pro', serif">here</a>. Kathy’s Upcoming events include:</p>
					<h6>upcoming events</h6>		
					<h3>Eve Carson Lecturer Carolina Women’s Leadership Council</h3>
					<p><em>Keynote Speaker, Talk and book signing</em><br>
					Thursday, February 22, 2018<br>5:30<br>
					University of North Carolina, Chapel Hill</p>

					<h3>Women in Philanthropy</h3>
					<p><em>Luncheon Keynote Speaker</em><br>
					Friday, March 23, 2018<br>
					Noon<br>
					Augusta, Georgia</p>

					<h3>Allied Churches of Alamance County</h3>
					<p><em>Luncheon Keynote Speaker</em><br>
					Tuesday, March 27, 2018 <br>
					Noon<br>
					Burlington, NC</p>

					<h3>Carry the Torch Fundraising event</h3>
					<p><em>Keynote Speaker</em><br>
					Wednesday, April 11, 2018<br>
					Knoxville, TN</p>

					<h3>Daughter’s of Christ Church</h3>
					<p><em>ECW Dinner Keynote Speaker</em><br>
					Sunday, April 15, 2018<br>
					Begins 5:00pm<br>
					Raleigh, NC</p>
					
					<h3>The Sorosis Book Club Author's Luncheon</h3>
					<p><em>Keynote Speaker</em><br>
					Wednesday, April 18, 2018<br>Noon<br>
					Asheboro, NC</p>
					<div class="popup">
						<div class="wrap">
            				<span>x</span>
            				<h6>Past Events</h6>
						            				
							<h3>Grandfather Country Club Speaker Series</h3>
							<p><em>Talk and book signing</em><br>
							Grandfather Mountain Country Club</p>

							<h3>Linville Book Club</h3>
							<p><em>Talk and Book signing</em><br>
							Alan Dickson Center, Eseeola Lodge<br>
							Linville, NC</p>

							<h3>Charlotte Rotary Club</h3>
							<p><em>Talk and Book signing</em><br>
							Charlotte, NC</p>

							<h3>St Stephens United Methodist Church</h3>
							<p><em>Sunday School Talk</em><br>
							Charlotte, NC</p>

							<h3>St Michael's Episcopal Church</h3>
							<p><em>Talk and Book signing</em><br>
							Raleigh, NC</p>

							<h3>South Mecklenburg Presbyterian Church</h3>
							<p><em>Talk and Book signing</em><br>
							Charlotte, NC</p>

							<h3>Westlake Hills Presbyterian Church</h3>
							<p><em>Talk and Book signing</em><br>
							Austin, Texas</p>

							<h3>St Gabriel Catholic Church</h3>
							<p>Two events:<br>
							<em>Evening Presentation and book signing</em><br>
							<em>Lunch presentation and book signing</em><br>
							Charlotte, NC</p>
							 
							<h3>York County Library</h3>
							<p><em>Talk and book signing</em><br>
							Fort Mill, SC</p>
							 
							<h3>Holy Comforter Episcopal Church</h3>
							<p><em>Talk and book signing</em><br>
							Charlotte, NC</p>

							<h3>Keynote Speaking</h3>
							<p><em>Westminster Presbyterian Church</em><br>
							The Birthday Luncheon, Charlotte, NC 28207</p>

							<p><em>Centenary United Methodist Church Auditorium</em><br>
							Talk and Book Signing, Winston Salem, NC 27101</p>

							<p><em>Friends of the Library </em><br>
							Annual Holiday Book Event at Queens University, Charlotte, NC</p>

							<p><em>Kathy Izard: Trust the Whisper Luncheon</em><br>
							Canterbury United Methodist Church, Birmingham, AL</p>

							<p><em>ECW Advent Luncheon: A Heart For the Homeless </em><br>
							St. Phillips Episcopal Church, Charleston, SC</p>

							<p><em>Homeless to Homes: An Evening with Kathy Izard</em><br>
							Christ Church Christiana Hundred, Wilmington, DE</p>

							<p><em>Finding Joy: Trust the Whisper</em><br>
							River Road Unitarian Universalist Congregation, Bethesda, MD</p>

							<p><em>Faith Forum</em><br>
							Christ Church Charlotte, Charlotte, NC</p>

							<p><em>Trust the Whisper Author talk and Booksigning</em><br>
							Centenary United Methodist Church, Winston Salem, NC</p>

							<p><em>Trust the Whisper </em><br>
							Mt Pisgah Lutheran Church, Hickory, NC</p>

							<p><em>True Blessings</em><br>
							Signature Fundraising Event for The Urban Ministry Center, Charlotte, NC</p>

							<p><em>Good Friends </em><br>
							Annual Holiday Community Fundraising Event for Women, Charlotte, NC</p>

							<p><em>Faith Forum</em><br>
							Christ Church Charlotte, Charlotte, NC</p>

							<p><em>ECW Friendship Feast</em><br>
							Christ Church Annual Dinner for Women, Charlotte, NC</p>

							<p><em>The Birthday Luncheon</em><br>
							Westminister Presbyterian Church, Charlotte, NC</p>


							<h3>Featured Speaker and Panels:</h3>

							<p><em>HopeWay Groundbreaking</em><br>
							Charlotte, NC</p>

							<p><em>Social Hour for Social Issues Panel, Women’s Impact Fund</em><br>
							Charlotte, NC</p>


							<h3>Classroom and Sunday School Presentations</h3>

							<p><em>Lenten Series</em><br>
							St. John’s Episcopal Church, McLean, VA</p>

							<p><em>Canterbury United Methodist Church</em><br>
							Birmingham, AL</p>

							<p><em>Providence United Methodist Church</em><br>
							Crosstalkers Class, Charlotte, NC</p>

							<p><em>First Presbyterian Church </em><br>
							Charlotte, NC</p>

							<p><em>Myers Park Presbyterian Church</em><br>
							ACTS Class, Charlotte, NC</p>


							<h3>Book Club Presentations</h3>
							<p>Charlotte, Winston Salem, Raleigh, Atlanta and Hobe Sound, Florida</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
