<div class="speaking big-wrap">	
	<section class="hero"> 
		<div class="wrap">
		</div>
	</section>
	<div class="container mug">
		<div class="box-model cf wrap-no">
			<div class="col1 col">
				<div class="about-you">
					<h6>Speaking</h6>
					<h3>Book Kathy for Your Event</h3>
					<p>Thank you for your interest in having Kathy speak at your event. She’s inspired audiences as large as 1,000 attendees in Charlotte and is ready to encourage your community. Fill out the form and we will be in touch! Sample topics for speeches below.</p>
					<%= render 'speaking_users/form' %>
				</div>
				<div class="int">
					<h6>sample topics for speaking engagements</h6>
					<ul> 
						<li><span>What’s Your Whisper:</span> How to listen to what’s calling you</li>
						<li><span>The Miracle of Moore Place:</span> How Charlotte created homes for one hundred people and where you can start</li>
						<li><span>Let’s Talk About It:</span> How being silent about mental illness makes us all crazy</li>
					</ul>
				</div>
				<div class="int">
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s secret weapon is that she is always real, and she is always genuine. She brings an authenticity that stirs checkbooks, yes—but more importantly, stirs hearts and minds to say, “How can I help? I want to be part of that.” With Kathy, the listener is transformed from, “What can be done?” to “We can absolutely do this together.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Associate Executive Director, Urban Ministry Center</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>In The Hundred Story Home, Kathy could have chosen to simply tell the story of how Moore Place came to be. But by sharing her personal story, particularly being the child of a mother living and struggling with mental illness, she gives her readers—and society as a whole—a tremendous gift. She puts a face on mental illness that is relatable beyond social class, race, and strata. In a world that struggles to understand and talk about mental illness, we need more honest and open dialogue like this.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Associate Executive Director, Urban Ministry Center</h6>
					</div> 
				</div>
			</div>
			<div class="col2 col wrap-no">
				<div class="bluebox">
					<h6>upcoming events</h6>
					<h3>First Presbyterian Church Charlotte</h3>
					<p>Sunday October 30, 2016<br>
					Contact Church for details</p>
					<h3>ACTS Class</h3>
<p><em>Myers Park Presbyterian Church</em>, Charlotte<br>
Sunday, November 20, 2016<br>
Contact Church for details</p>
					<h3>Faith Forum</h3>
					<p><em>Christ Church Charlotte</em><br>
					Sunday October 30, 2016<br>
					Sunday November 13<br>
					10:00 am—11:00am<br>
					All Saints Hall<br>
					All welcome</p>
					<h3>True Blessings</h3>
					<p>Thursday, November 17, 2016<br>
					<em>Charlotte Convention Center</em><br>
					Contact Urban Ministry Charlotte for tickets and Information</p>
					<h3>Friends of the Library</h3>
<p>Featured Speaker<br>      
Friday, November 18, 2016<br>
McInnes Parlors, Burwell Hall<br>
Limited Seating. reserve through <a href="mailto:fol@queens.edu">fol@queens.edu</a> or <a href="tel:7046882708">704-688-2708</a></p>
<h3>Christ Church Charlotte Christmas Bazaar </h3>
<p>Book signing<br>
Saturday December 3, 2016<br>
9:00am-noon</p>

					
					<h6>past events</h6>
					<h3>Social Hour for Social Issues Panel, Women’s Impact Fund</h3>
					<p>September 28, 2016   |   5:30 - 7:30pm<br><em>UNCC Center City, Charlotte, NC</em></p>
					<h3>HopeWay Groundbreaking (300+ attendees)</h3>
					<p>2016<br><em>Charlotte, NC</em></p>
				</div>
			</div>
		</div>
		
		<%= render 'partials/newsletter' %>
		
	</div>
</div>