<div class="speaking big-wrap">	
	<section class="hero"> 
		<div class="wrap">
		</div>
	</section>
	<div class="container mug">
		<div class="box-model cf wrap-no">
			<div class="col1 col">
				<div class="about-you">
					<h6>Speaking</h6>
					<h3>Book Kathy for Your Event</h3>
					<p>Thank you for your interest in having Kathy speak at your event. She’s inspired audiences as large as 1,000 attendees in Charlotte and is ready to encourage your community. <br><br>Please contact me via email <a href="mailto:kathy.izard@me.com?subject=Speaking Request&body=Hi Kathy! I am emailing to inquire about your speaking events..." class="button dblue">here</a></p><br>
<!-- 					<%= render 'speaking_users/form' %>
 -->				</div>
				<div class="int">
					<h6>Taking a Leap of Faith: A Conversation with Kathy Izard</h6>
					<a class="fancybox various fancybox.iframe church" href="https://player.vimeo.com/video/191372951"><%= image_tag 'christ-church-kathy.png', alt: "Photo of Solomon", class: "videoSol border" %><div class="arrow-right"></div></a>

				</div>
				</p>
				<div class="int">
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s secret weapon is that she is always real, and she is always genuine. She brings an authenticity that stirs checkbooks, yes—but more importantly, stirs hearts and minds to say, “How can I help? I want to be part of that.” With Kathy, the listener is transformed from, “What can be done?” to “We can absolutely do this together.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Associate Executive Director, Urban Ministry Center</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>An extremely powerful testament of courage, determination, and generosity.  Kathy invites and challenges us to "trust the whisper" and to take our own leap of faith. &quot;</p>
						</blockquote>
						<h6>The Reverend Chip Edens<br>Rector, Christ Church, Charlotte</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>The most important thing I know to say about any speaker I will say about Kathy Izard.  Namely, she tells the truth and she tells it with passion, humor and a call to action.&quot;</p>
						</blockquote>
						<h6>Dale Mullennix<br> Executive Director, Urban Ministry Center</h6>
					</div> 
				</div>
			</div>
			<div class="col2 col wrap-no">
				<div class="bluebox">
					<h6>upcoming events</h6>
							<h3>Private Event</h3>
							<p>February 21, 2017<br>Atlanta, GA</p>
							<h3>Private Event</h3>
							<p>Thursday, February 23, 2017<br>Charlotte, NC</p>
						<h3>Providence United Methodist Church</h3>
							<p><em>Crosstalkers Class, Room 106</em><br>

							Charlotte, NC<br>
							Sunday, February 26, 2017<br>
							10:00am-11:00am</p>

					<h3>Homeless to Homes: An Evening with Kathy Izard</h3>
					<p><em>Christ Church Christiana Hundred</em><br>Wilmington, DE<br>
					Friday, March 3, 2017<br>
					5:15 Dinner and Book signing<br>
6:15 Talk and Q and A<br>

Details:
<a href="http://www.christchurchde.org/gather/adults/adult-enrichment/#izard" >
Here</a></p>
					<h3>Private Event</h3>
							<p>March 6, 2017<br>Charlotte, NC</p>
							<h3>Private Event</h3>
							<p>March 9, 2017<br>Charlotte, NC</p><h3>Private Event</h3>
							<p>March 15, 2017<br>Charlotte, NC</p>
					<h3>Canterbury United Methodist Church</h3>
					<p>Birmingham, AL<br>      
					Detail to come</p>
					<h3>Mt. Pisgah Lutheran</h3>
					<p><em>Lenten series</em><br> Hickory, NC<br>
					Wednesday, March 29, 2017<br>
					5:15-6:15 Dinner<br>
6:30-7:15 Service
</p>
					<h3>St. John's Episcopal Church </h3>
					<p><em>Lenten Forum</em><br> McLean, VA<br>
					Sunday, April 2, 2017<br>
					10:15am -11:00am</p>
					<h3>Centenary United Methodist Church Auditorium</h3>
					<p>Talk and Book Signing<br>

					646 W 5th St<br>Winston Salem, NC  27101<br>
					Monday, April 10, 2017<br>
					10:00am 
</p>
					<h3>Westminster Presbyterian, Charlotte</h3>
					<p><em>The Birthday Lunch—Women’s Luncheon 
</em><br>Thursday, April 27, 2017
<br>11:00am-1:00pm</p>
					<h3>Linville Book Club</h3>
					<p>Wednesday, July 12, 2017
<br>Linville, NC</p>
<h3>South Mecklenburg Presbyterian Church</h3>

					<p>Charlotte, NC<br>Sunday, October 1, 2017
<br>6:30 PM<br>
</p>

					<a class="button lblue pop-let">past events</a>
					<div class="popup">
						<div class="wrap">
            				<span>x</span>
            				<h6>Past Events</h6>
							<h3>First Presbyterian Church Charlotte</h3>
							<p>Sunday October 30, 2016</p>
						<h3>Park Road Books Book Signing</h3>
							<p>Park Road Shopping Center, Charlotte<br>
					Saturday, November 12<br>11am</p>
					<h3>Faith Forum</h3>
					<p><em>Christ Church Charlotte</em><br>
					Sunday November 13<br>
					10:00 am—11:00am<br>
					All Saints Hall<br>
					All welcome</p>
					<h3>True Blessings</h3>
					<p>Thursday, November 17, 2016<br>
					<em>Charlotte Convention Center</em>
					</p>
					<h3>Friends of the Library</h3>
					<p>Featured Speaker<br>      
					Friday, November 18, 2016<br>
					McInnes Parlors, Burwell Hall</p>
					<h3>ACTS Class</h3>
					<p><em>Myers Park Presbyterian Church</em>, Charlotte<br>
					Sunday, November 20, 2016</p>
					<h3>Christ Church Charlotte Christmas Bazaar </h3>
					<p>Book signing<br>
					Saturday December 3, 2016<br>
					9:00am-1:00pm</p>
					<h3>St. Phillip’s Episcopal Church</h3>
					<p>Advent Luncheon<br>
					Friday, December 9<br>
					Charleston, South Carolina</p>
					<h3>Social Hour for Social Issues Panel, Women’s Impact Fund</h3>
					<p>September 28, 2016   |   5:30 - 7:30pm<br><em>UNCC Center City, Charlotte, NC</em></p>
					<h3>HopeWay Groundbreaking (300+ attendees)</h3>
					<p>2016<br><em>Charlotte, NC</em></p>
					</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>