<div class="speaking big-wrap">	
	<section class="hero"> 
		<div class="wrap">
		</div>
	</section>
	<div class="container mug">
		<div class="box-model cf wrap-no">
			<div class="col1 col">
				<div class="about-you">
					<h6>Speaking</h6>
					<h3>Book Kathy for Your Event</h3>
					<p>Thank you for your interest in having Kathy speak at your event. She’s inspired audiences of all sizes even as large as 1,000. Kathy has been invited all over North Carolina, South Carolina, Delaware, Georgia, Virginia, Tennessee and Texas and she is ready to encourage your community.  Whether it is a fundraising luncheon in your city or an inspirational interfaith talk, she can work with you to create a message that will connect with your audience. <br><br><a class="pop-let button dblue" style="max-width:300px; cursor: pointer;">Speaking Experience </a><br><br>Please contact me via email <a href="mailto:kathyizardspeaking@gmail.com?subject=Speaking Request&body=Hi Kathy! I am emailing to inquire about your speaking events..." class="button dblue">here</a></p><br>
				</div>
				
				<div class="int">
					<h6>Kathy Izard Visits Morning Break</h6>
					<a class="fancybox various fancybox.iframe church" href="http://www.wbtv.com/clip/14408063/kathy-izard-visits-morning-break?autostart=true"><%= image_tag 'mb.png', alt: "Kathy Izard visits morning break", class: "videoSol border" %><div class="arrow-right"></div></a>

				</div>
				<div class="int">
					<h6>Kathy Izard speaks and inspires at Eve Marie Carson Lecture Series</h6>
					<a href="http://www.dailytarheel.com/article/2018/02/eve-carson-lecture-0222"><%= image_tag 'kathy-izard-eve-carson-speaker.png', alt: "", class: "videoSol border" %></a>

				</div>
				<div class="int">
					<h6>Taking a Leap of Faith: A Conversation with Kathy Izard</h6>
					<a class="fancybox various fancybox.iframe church" href="https://player.vimeo.com/video/191372951"><%= image_tag 'christ-church-kathy.png', alt: "Taking a Leap of Faith: A Conversation with Kathy Izard", class: "videoSol border" %><div class="arrow-right"></div></a>

				</div>
				
				</p>
				<div class="int">
				
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s presentation was earnest and bold in reminding our community of the healing power and necessity of housing, especially from the street to housing.I  have received numerous upon numerous compliments regarding both the event and the way that her message has become a “whisper” for some.  The accolades continue to come in!&quot;</p>
						</blockquote>
						<h6>Rev. Dr. Bruce Spangler, Executive Director<br>Volunteer Ministry Center, 10th Annual Carry the Torch event<br>Knoxville, Tennessee</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>Kathy Izard, kicked off the 2018 Carolina Women’s Leadership Council annual meeting and truly embodied the spirit of the lecture series which is leadership, commitment to public service and a proven ability to exact real, positive change in the community. Her remarks, no doubt inspired the 350 people in attendance—Carolina students, professors, staff, community volunteers and members of the Carolina Women’s Leadership Council -- as she encouraged them to listen to their inner whisper and to act NOW to spark positive change for good.  Kathy is proof positive how one person can make a profound difference in our world. The Carolina campus is still buzzing about her lecture.  What a gift it was to have her on our campus.&quot;</p>
						</blockquote>
						<h6>Lanier Brown May<br>University of North Carolina at Chapel Hill</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>Kathy was our featured speaker at an event for women at our church. She was spectacular! She is inspiring, relatable, and has a very important story to share about choices, “composing” our own lives, listening to God’s voice, and the plight of homeless men, women and children in our midst. Kathy shares her story in a way that is transparent and eminently honest. We laughed, we cried and, perhaps most importantly, we gained insight and energy for our own spiritual paths.&quot;</p>
						</blockquote>
						<h6>The Rev, Jennifer C, Brown<br>Senior Associate Rector, Christ Church, Raleigh</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>It is hard to put into words how moving, inspiring, and spiritually encouraging Kathy's presentation was. Ten days later I'm still talking about her and getting chills and tears when I think of (our homeless neighbors in) "the bad at night.&quot;</p>
						</blockquote>
						<h6>Nan Revell<br>Sorosis Book community event<br>
Asheboro, NC</h6>
					</div>
					
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s secret weapon is that she is always real, and she is always genuine. She brings an authenticity that stirs checkbooks, yes—but more importantly, stirs hearts and minds to say, “How can I help? I want to be part of that.” With Kathy, the listener is transformed from, “What can be done?” to “We can absolutely do this together.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Former Director, Moore Place</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>Kathy Izard has a story that resonates with civic groups as well as church groups. Her listening to an inner voice that led her to develop Moore Place will encourage others to listen harder to find what they can do to better their communities.&quot;</p>
						</blockquote>
						<h6>Denise Ratchford<br>Westminster Presbyterian Church, Charlotte</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s message was one that deeply resonated with people and motivated them to come and learn more about how they could listen to the voice of God and see where the power of God could change not only their lives but the lives of their community. If you’re considering a speaker on the topic of God’s marvelous grace to change us as individuals and to change our communities, then Kathy Izard is a perfect choice. People in our community are still talking about her and her message. The inspiration has extended far beyond just that Friday evening in March.&quot;</p>
						</blockquote>
						<h6>The Rev. Stephen Setzer<br>Associate Rector, Christ Church Christiana Hundred, Wilmington, DE</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>The Hundred Story Home is that book.  The book that you can't mention off hand that you can't just hope someone reads. It's the book that deserves to be pressed into someone's hands with a promise to have tea and talk about it. The Hundred Story Home is a book that you'll be pressing it into someone's hands. And Kathy Izard is that speaker who will be pressing into your heart.&quot;</p>
						</blockquote>
						<h6>Rachel Estes<br>Director of Missions and Outreach, Canterbury United Methodist Church, Birmingham, AL</h6>
					</div> 
				</div>
			</div>
			<div class="col2 col wrap-no">
				<div class="bluebox">
					
					<p class="speak-intro">Thank you for your interest in hearing Kathy speak.</p>

					<h6>upcoming events</h6>		

<h3>Book Club Event</h3>
<p>Book talk and signing <br>
Wednesday, September 26<br>
Charlotte, NC</p>

<h3>New Southern Women Luncheon</h3>
<p>Book talk and signing<br>
Friday, September 28<br>
Fort Mill, SC</p>

<h3>Book Club Event</h3>
<p>Book talk and signing<br>
Wednesday, October 3<br>
Concord, NC</p>

<h3>Southern Book Festival</h3>
		<p>Author in the Round<br>
		Friday, October 12, 2018<br>
		Panel Discussion and Book Signing<br>
		Saturday October 13, 2018<br>
		Nashville, TN<br>

		Check Festival website for details</p>

<h3>United Methodist Women’s Event</h3>
<p>Book talk and signing<br>
Thursday, October 18<br>
Matthews, NC</p>

<h3>Keynote—Fundraiser for Catherine’s House</h3>
<p>Thursday, November 1<br>
Belmont/Gastonia, NC</p>

<h3>NC Writers' Network Fall Conference</h3>
<p><em>Leading Workshop</em><br>
Faculty Reading<br>
Saturday, November 3</p>


<h3>Thankful Hearts Luncheon</h3>
<p><em>Keynote Speaker</em><br>
Thursday November 15<br>
Wilmington, NC</p>

<h3>Clinton School of Public Service</h3>
		<p>William J. Clinton Distinguished Lecturer<br>
		Thursday, November 29, 2018<br>
		Little Rock, AR</p>


<h3>Healthy Charlotte Alliance Book Club Event</h3>
<p>Tuesday, December 4<br>
Charlotte, NC</p>

<a class="pop-let button lblue" style="cursor:pointer;">Past Events</a> 



					<div class="popup">
						<div class="wrap">
            				<span>x</span>
            				<h6><center>Kathy Izard Speaking Experience</center></h6>
<h6>Libraries,Universities and corporate education</h6>
<p><b>American Library Association Annual Conference</b>, <em>New Orleans, LA
Book signing</em><br>
<b>Charlotte-Mecklenburg Library Foundation</b>, <em>Charlotte, NC
Talk and Book signing</em><br>
<b>Clinton School of Public Service</b>, <em>Little Rock, AR
William J. Clinton Distinguished Guest Lecture—Keynote</em><br>
<b>Queen’s University Annual Holiday Book Event</b>, <em>Charlotte, NC
Talk and Book signing</em><br>
<b>University of North Carolina</b>, <em>Chapel Hill, NC
Eve Carson Lecturer Carolina Women’s Leadership Council—Keynote</em><br>
<b>The Barings Women’s Network</b>, <em>Charlotte, NC
	Community Philanthropy Talk</em><br>
<b>York County Library</b>, <em>Fort Mill, SC
Talk and Book signing</em></p>
<h6>Fundraising and Philanthrophy</h6>
<p><b>Carry The Torch</b>, <em>Knoxville, TN
Annual Community Luncheon—Keynote</em><br>
<b>Good Friends</b>, <em>Charlotte, NC
Annual Community Holiday Luncheon—Keynote</em><br>
<b>Green Chair Project</b>, <em>Raleigh, NC
Fundraising Dinner—Keynote</em><br>
<b>Urban Ministry Center</b>, <em>Charlotte, NC
True Blessings Annual Community Luncheon—Keynote</em><br>
<b>Southern Women’s Show</b>, <em>Charlotte, NC
Invited Panelist on Philanthropy sponsored by Bank of America</em><br>
<b>Thankful Hearts Luncheon</b>, <em>Wilmington, NC
Annual Community Luncheon—Keynote</em><br>
<b>Women In Philanthropy</b>, <em>Augusta, GA
Annual Member Luncheon—Keynote</em><br>
<b>Women’s Impact Fund</b>, <em>Charlotte, NC
	Invited Panelist on Philanthropy and Social Action</em></p>

<h6>SPeaker Series</h6>
<p><b>Clinton School of Public Service</b>, <em>Little Rock, AR
William J. Clinton Distinguished Guest Lecturer</em><br>
<b>Charlotte Writer’s Club</b>, <em>Charlotte, NC
Christ Church Faith Forum, Charlotte, NC</em><br>
<b>Healthy Charlotte Alliance Book event</b>, <em>Charlotte, NC</em><br>
<b>Linville Book Lecture Series</b>, <em>Linville, NC  </em><br>
<b>New Southern Women</b>, <em>Fort Mill, SC</em><br>
<b>Roaring Gap Speaker Series</b>, <em>Roaring Gap, NC</em><br>
<b>Shooting Star Speaker Series</b>, <em>Jackson Hole, WY</em><br>
<b>Summer Lecture Series</b>, <em>Grandfather Mountain, NC</em><br>
<b>The Sorosis Book Club Author's Luncheon</b>, <em>Asheboro, NC</em><br>
<b>The Westmoor Club All Club Read</b>, <em>Nantucket, MA</em></p>

<h6>COnferences, Festivals and workshops</h6>
<p><b>NC Writer’s Conference</b>, <em>Faculty and Faculty Reading</em><br>	
<b>Southern Book Festival</b>, <em>Nashville, TN, 
	Speaker and Author in the Round Dinner</em><br>
<b>TRIO Live</b>, <em>Traveling exhibit for SiBA</em></p>
	
<h6>Church and interFaith events</h6>
<p><b>Allied Churches of Alamance County Luncheon—Keynote</b>, <em>Burlington, NC</em><br>
<b>Daughter’s of Christ Church ECW Luncheon—Keynote</b>, <em>Raleigh, NC</em><br>
<b>Providence Baptist Church Community Event</b>, <em>Charlotte, NC</em><br>
<b>St Stephens United Methodist Church</b>, <em>Talk and Book signing, Charlotte, NC</em><br>
<b>St Michael's Episcopal Church</b>, <em>Talk and Book signing, Raleigh, NC</em><br>
<b>South Mecklenburg Presbyterian Church</b>, <em>Talk and Book signing, Charlotte, NC</em><br>
<b>Westlake Hills Presbyterian Church</b>, <em>Talk and Book signing, Austin, Texas</em><br>
<b>St Gabriel Catholic Church</b>, <em>Talk and Book signing, Charlotte, NC</em><br>
<b>Holy Comforter Episcopal Church</b>, <em>Talk and Book signing, Charlotte, NC</em><br>
<b>Covenant Presbyterian Church</b>, <em>Talk and Book signing, Charlotte, NC</em><br>
<b>Westminster Presbyterian Church Luncheon</b>, <em>Keynote, Charlotte, NC</em><br>
<b>Centenary United Methodist Church</b>, <em>Talk and Book signing, Winston Salem, NC</em><br>
<b>Canterbury United Methodist Church</b>, <em>Talk and Book signing, Birmingham, AL</em><br>
<b>St. Phillips Episcopal Church ECW Advent Luncheon Keynote</b>, <em>Charleston, SC</em><br>
<b>Christ Church Christiana Hundred</b>, <em>Keynote, Wilmington, DE</em><br>
<b>River Road Unitarian Universalist Congregation Talk and Book signing</b>, <em>Bethesda, MD</em><br>
<b>Christ Church Charlotte ECW Friendship Feast</b>, <em>Keynote, Charlotte, NC</em><br>
<b>Centenary United Methodist Church</b>, <em>Talk and Book signing, Winston Salem, NC</em><br>
<b>Mt Pisgah Lutheran Church</b>, <em>Lenten Series, Hickory, NC</em><br>
<b>St. John’s Episcopal Church</b>, <em>Lenten Series,McLean, VA</em><br>
<b>Providence United Methodist Church</b>, <em>Sunday School, Charlotte, NC</em><br>
<b>First Presbyterian Church</b>, <em>Sunday School, Charlotte, NC</em><br>
<b>Myers Park Presbyterian Church ACTS Class</b>, <em>Charlotte, NC</em><br>
<b>United Methodist Women’s Event</b>, <em>Matthews, NC</em></p>

<h6>Bookstore Readings and Signings</h6>
<p><b>Park Road Books</b>, <em>Charlotte, NC</em><br>
<b>Main Street Books</b>, <em>Davidson, NC</em></p>


						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
