<div class="speaking big-wrap">	
	<section class="hero"> 
		<div class="wrap">
		</div>
	</section>
	<div class="container mug">
		<div class="box-model cf wrap-no">
			<div class="col1 col">
				<div class="about-you">
					<h6>Speaking</h6>
					<h3>Book Kathy for Your Event</h3>
					<p>Thank you for your interest in having Kathy speak at your event. She’s inspired audiences as large as 1,000 attendees in Charlotte and is ready to encourage your community. <br><br>Please contact me via email <a href="mailto:kathy.izard@me.com?subject=Speaking Request&body=Hi Kathy! I am emailing to inquire about your speaking events..." class="button dblue">here</a></p><br>
<!-- 					<%= render 'speaking_users/form' %>
 -->				</div>
				<div class="int">
					<h6>Taking a Leap of Faith: A Conversation with Kathy Izard</h6>
					<a class="fancybox various fancybox.iframe church" href="https://player.vimeo.com/video/191372951"><%= image_tag 'christ-church-kathy.png', alt: "Photo of Solomon", class: "videoSol border" %><div class="arrow-right"></div></a>

				</div>
				</p>
				<div class="int">
					<div class="quote-block">
						<blockquote>
							<p>Kathy’s secret weapon is that she is always real, and she is always genuine. She brings an authenticity that stirs checkbooks, yes—but more importantly, stirs hearts and minds to say, “How can I help? I want to be part of that.” With Kathy, the listener is transformed from, “What can be done?” to “We can absolutely do this together.&quot;</p>
						</blockquote>
						<h6>Caroline Chambre Hammock<br>Associate Executive Director, Urban Ministry Center</h6>
					</div>
					<div class="quote-block">
						<blockquote>
							<p>An extremely powerful testament of courage, determination, and generosity.  Kathy invites and challenges us to "trust the whisper" and to take our own leap of faith. &quot;</p>
						</blockquote>
						<h6>The Reverend Chip Edens<br>Rector, Christ Church, Charlotte</h6>
					</div> 
					<div class="quote-block">
						<blockquote>
							<p>The most important thing I know to say about any speaker I will say about Kathy Izard.  Namely, she tells the truth and she tells it with passion, humor and a call to action.&quot;</p>
						</blockquote>
						<h6>Dale Mullennix<br> Executive Director, Urban Ministry Center</h6>
					</div> 
				</div>
			</div>
			<div class="col2 col wrap-no">
				<div class="bluebox">
				<a class="button lblue pop-let">past events</a>
					<h6>upcoming events</h6>
					<p class="speak-intro">Thank you for your interest in having Kathy speak to your group. An inspirational speaker, she enjoys encouraging groups of all sizes from book clubs to keynote speaking for hundreds of guests. Her upcoming engagements include:</p>
					

<h3>Grandfather Country Club Speaker Series</h3>
<p><em>Talk and book signing</em><br>
Tuesday, July 11, 2017  <br>
5:30pm<br>
Grandfather Mountain Country Club</p>

<h3>Linville Book Club</h3>
<p><em>Talk and Book signing</em><br>
Wednesday, July 12, 2017<br>
Alan Dickson Center, Eseeola Lodge<br>
Linville, NC</p>

<h3>Charlotte Rotary Club</h3>
<p><em>Talk and Book signing</em><br>
Monday, July 31, 2017<br>
Noon<br>
Byron’s South End<br>
101 W. Worthington Ave.<br>
Charlotte, NC</p>

<h3>St Stephens United Methodist Church</h3>
<p><em>Sunday School Talk</em><br>
Sunday September 10, 2017<br>
10am<br>
6800 Sardis Rd<br>
Charlotte, NC 28270</p>

<h3>St Michael's Episcopal Church</h3>
<p><em>Talk and Book signing</em><br>
Monday, September 11, 2017<br>
7:00pm<br>
1520 Canterbury Road<br>
Raleigh, NC  27608</p>

<h3>South Mecklenburg Presbyterian Church</h3>
<p><em>Talk and Book signing</em><br>
Sunday, October 1, 2017<br>
5:00pm<br>
8601 Bryant Farms Road<br>
Charlotte, NC 28277</p>

<h3>Westlake Hills Presbyterian Church</h3>
<p><em>Talk and Book signing</em><br>
Thursday, October 19, 2017<br>
Austin, Texas</p>

<h3>St Gabriel Catholic Church</h3>
<p>Two events:<br>
<em>Evening Presentation and book signing</em><br>
Wednesday, October 25, 2017 <br>
<em>Lunch presentation and book signing</em><br>
Thursday October 26, 2017<br>
Check church website for details<br>
3016 Providence Rd,<br>
Charlotte, NC 28211</p>
 
<h3>York County Library</h3>
<p><em>Talk and book signing</em><br>
Tuesday, November 14, 2017<br>
5:30<br>
Fort Mill, SC</p>
 
<h3>Holy Comforter Episcopal Church</h3>
<p><em>Talk and book signing</em><br>
Monday, November 20, 2017<br>
7:00pm<br>
2701 Park Rd<br>
Charlotte, NC 28209</p>



					
					<div class="popup">
						<div class="wrap">
            				<span>x</span>
            				<h6>Past Events</h6>
            				
				<h3>Keynote Speaking</h3>
				<p><em>Westminster Presbyterian Church</em><br>
The Birthday Luncheon, Charlotte, NC 28207</p>

<p><em>Centenary United Methodist Church Auditorium</em><br>
Talk and Book Signing, Winston Salem, NC 27101</p>

<p><em>Friends of the Library </em><br>
Annual Holiday Book Event at Queens University, Charlotte, NC</p>

<p><em>Kathy Izard: Trust the Whisper Luncheon</em><br>
Canterbury United Methodist Church, Birmingham, AL</p>

<p><em>ECW Advent Luncheon: A Heart For the Homeless </em><br>
St. Phillips Episcopal Church, Charleston, SC</p>

<p><em>Homeless to Homes: An Evening with Kathy Izard</em><br>
Christ Church Christiana Hundred, Wilmington, DE</p>

<p><em>Finding Joy: Trust the Whisper</em><br>
River Road Unitarian Universalist Congregation, Bethesda, MD</p>

<p><em>Faith Forum</em><br>
Christ Church Charlotte, Charlotte, NC</p>

<p><em>Trust the Whisper Author talk and Booksigning</em><br>
Centenary United Methodist Church, Winston Salem, NC</p>

<p><em>Trust the Whisper </em><br>
Mt Pisgah Lutheran Church, Hickory, NC</p>

<p><em>True Blessings</em><br>
Signature Fundraising Event for The Urban Ministry Center, Charlotte, NC</p>

<p><em>Good Friends </em><br>
Annual Holiday Community Fundraising Event for Women, Charlotte, NC</p>

<p><em>Faith Forum</em><br>
Christ Church Charlotte, Charlotte, NC</p>

<p><em>ECW Friendship Feast</em><br>
Christ Church Annual Dinner for Women, Charlotte, NC</p>

<p><em>The Birthday Luncheon</em><br>
Westminister Presbyterian Church, Charlotte, NC</p>


<h3>Featured Speaker and Panels:</h3>

<p><em>HopeWay Groundbreaking</em><br>
Charlotte, NC</p>

<p><em>Social Hour for Social Issues Panel, Women’s Impact Fund</em><br>
Charlotte, NC</p>


<h3>Classroom and Sunday School Presentations</h3>

<p><em>Lenten Series</em><br>
St. John’s Episcopal Church, McLean, VA</p>

<p><em>Canterbury United Methodist Church</em><br>
Birmingham, AL</p>

<p><em>Providence United Methodist Church</em><br>
Crosstalkers Class, Charlotte, NC</p>

<p><em>First Presbyterian Church </em><br>
Charlotte, NC</p>

<p><em>Myers Park Presbyterian Church</em><br>
ACTS Class, Charlotte, NC</p>


<h3>Book Club Presentations</h3>
<p>Charlotte, Winston Salem, Raleigh, Atlanta and Hobe Sound, Florida</p>

					</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>