@media screen and (min-width:1000px){
	.desktop {
		display: block;
	}
	.secondary .right {
		margin-top: 10px;
	}

	.hero .wrap-no {
		height: 450px;
		background-size: cover;
	}
	#hero , #hero  .owl-stage-outer{
	}
	#hero .owl-item:not(.center) img {
		height: 250px;
		width: auto;
	}
	#hero .owl-item.center img {
		height: 335px;
		width: auto
	}
	#hero .owl-nav .owl-prev{
		left: 212px;
	}
	#hero .owl-nav .owl-next{
		left:278px;
	}
	#hero .owl-nav .owl-prev, #hero .owl-nav .owl-next {
		bottom: 25px;
	}
	.num {
		bottom: 47px;
		left:161px;
	}
	.review .wrap {
		height: 270px;
	}

	#testimonials {
		width: 790px;
	}
	#testimonials .owl-dots {
		margin: 0;
		width: auto;
		left: auto;
		right: -45px;
		top:65%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
	#testimonials .owl-dots .owl-dot{
		display: block;
	}
	#testimonials .item {
    	width: 790px !important;
    }
	.kathy .wrap {
		padding-left:65px;
	}
	.kathy .quote {
		width: auto;
	}
	.kathy p {
		font-size: 24px;
	}
	.whisper .wrap {
		padding: 73px 20px;
	}
	.bio {
		max-width: calc(100% - 290px);
		max-width: -webkit-calc(100% - 290px);
		max-width: -moz-calc(100% - 290px);
	}
	.about .container {
		position: relative;
	}
	.polaroids {
		position: absolute;
		right: 0;
		top: 220px;
	}
	.polaroids img{
		margin-left:auto;
		display: block;
	}
	.polaroids img:nth-of-type(2){
		margin:50px 0;
		display: block;
	}
	.polaroids small {
		color: #666;
		display: inherit;
		text-align: right;
		padding: 0px 10px 40px 0;
	}
	.container.thsh .hero{
		padding-bottom: 20px;
	}
	.container.thsh .hero .right img{
		height: 390px;
		width: auto;
	}
	.container.thsh .hero .left {
		padding: 40px 0px 0px 50px;
	}
	.thsh .hero .right {
		margin:0;
	}
	.col1{
		width: calc(100% - 260px);
		width: -webkit-calc(100% - 260px);
		width: -moz-calc(100% - 260px);
	}
	.col2{
		width: 250px;
	}
	.contact .hero .wrap {
		height: 340px;
		background-position: initial;
		background-size: cover;
	}
	.feeds .wrap, .t-timeline, .i-timeline {
		height: 450px;
	}
	.t-timeline h6 {
		padding-top: 60px;
	}
	.blogs .col.col-1{
		width: calc(100% - 310px);
		width: -webkit-calc(100% - 310px);
		width: -moz-calc(100% - 310px);
	}
	.blogs .item {
		height:360px
	}
	.blogs .col.col-2 {
		width: 310px;
		padding-left: 60px;
	}
	.blogs .item .right{
		width: 290px;
    	overflow: hidden;
	}
	.blogs .item .right img {
		height:100%;
	}
	.blogs .item .left {
		width: calc(100% - 290px);
		width: -webkit-calc(100% - 290px);
		width: -moz-calc(100% - 290px);
	}
	.hero .left {
		width:60%;
		padding: 40px 50px;
	}
	.hero .right {
		padding:85px 20px 50px;
		max-width: none;
	}
	.buy p {
		max-width: 740px;
	}
	.buy .button {
		right:115px;
	}
	.hero .right img{
		max-width: 290px;
		display: block;
		margin:auto;
	}
	.hero .right {
		width:40%;
	}
	.home-wrap {
		background-size: 100% 450px;
    	height: 450px;
	}
	#hero .owl-item.center img {
	}
	
	.contact .col-1 {
		width: 600px;
	}
	.contact .bio {
		max-width: 100%;
	}
	.contact .col-2 {
		width: 400px;
	}
	.news .wrap {
    	padding: 45px 60px;
	}
	.mug .col-1.col {
		width: 530px !important;
		padding:0 !important;
	}
}
@media (max-width:1020px){
	.secondary .wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (min-width: 1000px){


	.thsh .hero .right {
     	margin-top: 30px; 
	}

	.readersguide::before {
		content: asset-data-url("bookicon.png");
		position: absolute;
		bottom: -5px;
    	left: -6px;
	}

	.readersguide::after {
		content: asset-data-url("arrowright.png");
		position: absolute;
		right: 2px;
    	bottom: -2.9px;
	}

	.col {
		padding:0;
	}
	
	.col1 {
		float: left;
		width: 750px;
		padding-right: 40px;
	}

	.col2 {
		float: right;
		width: calc(100% - 750px);
	}


/*************** 
MOORE PLACE 
****************/

	.videoSol {
		float: left;
		width: 50%;
	}
	.header-moore .bluebox, .solomon-video {

	}
	.header-moore .bluebox {
/*		float: right;
		height:326px;
		width: 50%;*/
		padding: 33px;
		vertical-align: top;
		padding-top: 30px
	}
	.header-moore .bluebox p{
		font-size: 18px;
		line-height: 24px;
	}
	.quote-block h3 {
		margin: 14px 35px;
	}


	#slide-1 {
		margin-left: -150px;
    	margin-top: -50px;
	}

	.moore-carousel .slide-1 h3 {
		padding: 0;
		margin: 104px 0px 0 36px;

	}

	.moore-carousel .slide-1 p {
		padding: 0;
		margin: 10px 11px 0 39px;
	}

	#slide-2 {
		padding: 0;
		margin-left: 156px;
	}

	.moore-carousel .slide-2 h3 {
		padding: 0;
    	margin-left: 38px;
    	margin-right: -4px;

	}

	.moore-carousel .slide-2 p {
		margin: 5px 51px 0px 40px;
		padding: 0;
	}

	#slide-3 {
		margin-top: 46px;
		margin-left: 0;
	}

	.moore-carousel .slide-3 h3 {
		padding: 0;
		margin: 61px 0 11px 25px;

	}

	.moore-carousel .slide-3 p {
		margin: 0 0 0 26px;
		padding: 0;
	}
	

	#slide-4 {
		margin-top: -12px;
		margin-left: -87px;
	}

	.moore-carousel .slide-4 h3 {
		margin-top: 47px;
		margin-left: 28px;

	}

	.moore-carousel .slide-4 p {
		margin-left: 32px;
		margin-right: 33px;
		padding: 0;
	}

	#slide-5 {
		margin-top: 13px;
		margin-left: -6px;
	}

	.moore-carousel .slide-5 h3 {
		padding: 15px;
		margin-top: 32px;
		margin-left: 23px;

	}

	.moore-carousel .slide-5 p {
		margin-left: 30px;
		padding: 0;
		margin-top: 0px;
	}

	#slide-6 {
		margin-left: 101px;
		margin-top: -1px;
	}

	.moore-carousel .slide-6 h3 {
		padding: 0;
		margin: 51px 0px 0 39px;

	}

	.moore-carousel .slide-6 p {
	    margin-left: 24px;
	    margin-right: 80px;
	    padding: 0 0 0 13px;
	}

	#slide-7 {
		margin-top: 38px;
		margin-left: -181px;
	}

	.moore-carousel .slide-7 h3 {
		padding: 0;
		margin: 46px 0px 15px 38px;

	}

	.moore-carousel .slide-7 p {
		padding: 0;
		margin: 0 61px 0 36px;
	}

	#slide-8 {
		margin-top: 0;
		margin-left: 157px;
	}

	.moore-carousel .slide-8 h3 {
		margin: 36px 50px 17px 31px;

	}

	.moore-carousel .slide-8 p {
		margin: 7px 66px 0 33px;
		padding: 0;
	}

	#slide-9 {
		margin-top: 50px;
		margin-left: 25px;
	}

	.moore-carousel .slide-9 h3 {
		padding: 0;
		margin: 37px 0px 0 42px;

	}

	.moore-carousel .slide-9 p {
		padding: 0;
		margin: 11px -85px 0 40px;
	}


/*************** 
ABOUT YOU 
****************/
	.hide-ex{
	    padding-bottom: 50px;
	}
	.hide-ex .jumbo-tron {
		min-height: 450px;
	}
	.image-share-text h3 {
		margin: -7px 63px 14px -72px;
	    font-size: 18px;
	    color: #fff;
	    padding-bottom: 10px;

	}

	.image-share-text .button {
		   width: 85px;
		   height: 32px;
		   color: #fff;
		   margin: 0px 73px 45px -68px;
		   border: 1px solid #fff;
		   border-radius: 30px;
		   letter-spacing: 2px;
		   display: inline-block;
		   font: bold 12px/2px 'futura-pt', verdana, sans-serif;
		   text-decoration: none;
		   text-align: center;
		   text-transform: uppercase;
		   line-height: 29px;
	}

	.about-you-portrait img {
		position: absolute;
		right: -89px;
		z-index: -1;
		top: -167px;
	}

	.about-you-portrait {
		position: relative;
		height: 557px;
		background: none;
	}

	.about-you-boxes .lgt-blue-box h6 {
	    padding-top: 30px;
	}

	.about-you-boxes {
	}

}
