@media (min-width:768px){
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
	.wrap-no {
		padding:0;
	}
	.big-wrap {
		margin-top: 0px;
	    padding-top: 0px;
	}
	.container.mug {
		background-position: bottom right;
	}
	.nav {
		padding-top: 0;
		position: static;
		width: 100%;
		background: #fff;
		height: auto;
	}
	.secondary {
		height: 154px;
		position: static;
	}
	.secondary .left, .secondary .right {
	    position: static;
	    width: auto;
	}
	.secondary .wrap {
		padding: 52px 0;
		border-bottom: 1px solid #d9d9d9;
	}
	.secondary .social a:first-of-type {
		margin-left: 0;
	}
	.social a:not(.button) {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-decoration: none;
		background: #71b4d5;
		cursor: pointer;
		display: block;
	    margin-left: 10px;
	    float: left;
	    margin-top: 11px;
	}
	
	.secondary .right a{
		font: bold 10px/37px 'futura-pt', verdana, sans-serif;
		color: #999;
		display: inline-block;
		padding-left: 22px;
		text-transform: uppercase;
		float: none;
		width: auto;
		margin-left: 0;
		line-height: 40px;
	}

	.secondary .right a:hover {
		 color:#71b4d5;
	}
	.secondary .button {
		padding-right: 0;
		margin-left: 25px;
	}
	.home.tablet img{
		width: 190px;
		position: absolute;
		left: 0;
	    right: 0;
		margin:auto;
		top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}
	.scroll .home.tablet img{
		width:110px;
	}
	.primary {
		height: 76px;
	}
	.primary .wrap {
		max-width: 800px;
		margin: auto;
		display: table;
		padding: 0;
	}
	.primary a {
		display: table-cell;
		letter-spacing: 1px;
		text-align: center;
		color: #487497;
		width: 20%;
		line-height:76px; 
	}
	.primary a:hover {
		color: #71b4d5;
	}
	.r {
		height: 230px;
		position: relative;
	}
	.r.scroll {
		height: 130px;
	}
	nav.scroll .primary a{
		line-height: 50px
	}
	nav.scroll .primary {
		height: 50px;
	}
	nav.scroll .secondary {
		height: 85px;
	}
	nav.scroll .secondary .wrap{
		padding:20px 10px;
	}
	.secondary .right a.button {
		position:absolute;
		top:15px;
		right:10px;
		border-color: #ccc;
		width: 120px;
		padding-left: 0;
		text-align: center;
	}
	.scroll .secondary .left a.button {
		top: 20px;
    	right: 143px;
	}
	.secondary .right a.button:hover {
		border-color: #71b4d5
	}
	/*.hero .right{
		max-width: 290px;
	}*/
	#hero, .hero .wrap-no{
		height: 400px;
		background-size: 100% 400px;
	}
	#hero, #hero .owl-stage-outer{
	    width: 100% !important;
	    height: 400px;
	    padding-top: 20px;
	}
	#hero  .owl-item:not(.center) img {
		width: 400px;
	}
	#hero  .owl-item.center {
		z-index: 3;
	}
	#hero  .owl-item {
		z-index: 2
	}
	#hero  .owl-item.center img {
		width: 570px;
	}
	#hero  .owl-nav .owl-prev, #hero .owl-nav .owl-next{
	    bottom: -4px;
	}
	.num {
		position: absolute;
		left: 136px;
    	bottom: 12px;
 	}
	#hero .owl-nav .owl-prev, #hero .owl-nav .owl-next{
		bottom: 40px;
	}
	#hero .owl-nav .owl-prev{
		left: 187px;
	}
	#hero .owl-nav .owl-next{
		left: 253px;
	}
	#hero {
		background-size: 100% 425px;
    	height: 425px;
	}
	.book .wrap-no {
		display: table;
		height: 450px;
	}
	.book .wrap-no > div {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}

	.book .left{
		padding: 15px;

	}
	.review .wrap {
		height: 300px;
	}
	#testimonials .item {
		padding-top: 67px;
	}
	#testimonials p {
		font: normal 21px 'futura-pt', arial, sans-serif;
	}
	.kathy .wrap {
		height: 350px;
	}
	.kathy .quote {
		width:50%;
		max-width: 620px;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
	.kathy h5 {
		font-size:18px;
		text-align: right;
		position:relative;
		z-index:2;
		padding-right:15px;
		padding-top:10px;
	}
	.kathy h5 a:hover {
		text-decoration:underline
	}
	
	.kathy img {
		width: auto;
		height:100%;
		display: block;
		right: 0;
		position: absolute;
		bottom: 0;
	}
	.quote img {
	    bottom: -69px;
	  	width: 300px;
	  	height: auto;
	}
	.news .wrap {
		display: table
	}
	.news #mc_embed_signup .mc-field-group input{
		width: 330px;
	}
	#mc_embed_signup {
		display: table-cell;
		width: 66%;
		vertical-align: middle;
	}
	#mc_embed_signup_scroll {
		display: table;
	}
	.news #mc_embed_signup .mc-field-group input[type="email"]{
	    margin: 0 20px;
	}
	.news .text, #mc_embed_signup .button, .news #mc_embed_signup .mc-field-group{
		display: table-cell;
		width: 33%;
	}
	#mc_embed_signup .button{ 
		margin-top: 20px !important;
	}
	.buy .wrap{
		padding: 11px 60px;
	}
	.buy p, .buy h3 {
		width: calc(100% - 300px);
		width: -webkit-calc(100% - 300px);
		width: -moz-calc(100% - 300px);
		float: left;
		margin: 0;
	}
	.buy .button {
		 position: absolute;
	    right: 20px;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    margin: 0;
	}
	/*ABOUT
	______________________*/
	.about .hero {
		margin-top: 0px;
	}
	.about .words h3, .contact .words h3 {
		padding: 25px 0 10px;
		font-size: 28px;
	}
	/*BOOK
	_________________________*/
	.thsh{
		padding-top: 0;
	}
	.thsh .hero .left {
		float: left;
		width: 60%;
	}
	 .thsh .hero .right {
	 	float: right;
	    margin-top: 150px;
	    margin-right: 20px;
	 }
	 /*CONTACT*/
	 .feeds .wrap {
	 	display: table;
	 }
	 .t-timeline, .i-timeline {
		width: 50%;
		display: table-cell
	}
	 .i-timeline {
	 	padding: 30px 75px;
	}
	.feeds .wrap, .t-timeline, .i-timeline {
		height: 418px;
	}
	/* BLOG
	_________________*/
	.blogs .col {
		float: left;
	}
	.blogs .item {
		width: 100%;
	}
	.blogs .item > div {
		width: 50%;
	}
	.blogs .author img {
		height: 113px;
	}
	.blogs .col.col-1{
		width:calc(100% - 210px);
	}
	.blogs .col.col-2{
		width: 210px;
	}
	/*Speaking*/
	.speaking .hero .wrap {
		height: 340px;
	}

	.speaking form .cf .field{
		width:49%;
		float:left;
	}
	.speaking form .cf .field:first-of-type{
		margin-right:2%;
	}
	.int:last-of-type {
		width:680px;
	}
	.media-vids .item {
		width:50%;
		padding:10px;
		float:left;
	}
	.media-vids .item img {
		width:100%;
	}
}

@media (min-width: 820px){
	.popup{
		margin: 10px auto;
	}
}
@media (min-width: 900px) {
	.contact .col-1, .contact .col-2 {
		width: 50%;
		float: left
	}
	.media-vids .item {
		width:33%;
		float:left;
	}
	.contact .col-2 {
		padding-left: 20px;
	}
}
@media screen and (min-width: 768px){

	.col1 {
		float: left;
		width: 55%;
		padding-right: 40px;
	}

	.col2 {
		float: right;
		width: 45%;
	}
	.speaking .col {
		margin-top:20px;
	}
	.col1,
	.col2 {
		margin-top: 40px;
	}

	.quote-block h6 {
		padding-bottom: 10px;
	}

	.thsh .hero .right {
    	max-width: none;
    	width: calc(40% - 20px);
    	width: -webkit-calc(40% - 20px);
    	width: -moz-calc(40% - 20px);
    	margin-top: 30px;
	}
	.thsh .hero .left {
		padding:50px 0px 20px 30px;
	}
	/* PRE-ORDER BOX */

	.pre-order {
		background-color: #3F7398;
		
	}
	

	.container-box {
		text-align: left;
	}

	/* AUTHOR VIDEO BOX */

	

	/* READERS GUIDE */

	.readersguide {
		background-color: #BCD8D7;
		height: 83px;

}	
	.readersguide h6 {
		line-height: 1;
		font: 700 12px/82px 'futura-pt', verdana, sans-serif;
	}

	.readersguide::before {
		content: asset-data-url("bookicon.png");
		position: absolute;
		bottom: -5px;
    	left: 0px;
}

	.readersguide::after {
		content: asset-data-url("arrowright.png");
		position: absolute;
		right: 2px;
    	bottom: -2.9px;
}

/*************** 
MOORE PLACE 
****************/


	.videoSol {
		float: left;
		width: 50%;
	}
	.header-more {
		display: table;
	}
	.header-moore .bluebox, .solomon-video {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.solomon-video .fancybox, .solomon-video img {
		width: 100%;
		float: none;
	}
	.header-moore .bluebox p{
		font-size: 16px;
	}
	.header-moore .bluebox {
/*		float: right;
		height: 310px;
		width: 50%;*/
		padding: 0px 33px;
		line-height: 5;
		font: 15px/21px 'adobe-caslon-pro', serif;
	}

	.main-content {
		float: left;
		width: 65%;
	}

	.img-with-text {
		float: right;
		width: 35%;
		padding-top: 30px;
	}

	.about-moore {
		padding-bottom: 70px;
	}

	.about-moore p {
		text-align: left;
		margin-right: 359px;

	}
	.hide-ex .cf{
		display:table;
	}




	#slide-1
	#slide-2
	#slide-3
	#slide-4
	#slide-5
	#slide-6
	#slide-7
	#slide-8
	#slide-9 {
		width: 100%;
	}

	#slide-1 {
		margin-left: -14px;
    	margin-top: -94px;
    	padding-top: 40px;
	}

	.moore-carousel .slide-1 h3 {
		padding: 0px;
		margin: 90px -42px 17px 30px;
	}

	.moore-carousel .slide-1 p {
		margin-left: 30px;
    	margin-right: -71px;
    	padding: 0;
	}

	#slide-2 {
		margin-left: 201px;
		margin-top: 23px;
	}

	.moore-carousel .slide-2 h3 {
		margin: 35px -25px 0 27px;
		padding: 0;

	}

	.moore-carousel .slide-2 p {
		padding: 0;
		margin: 7px 6px 0 54px;
	}

	#slide-3 {
		margin-top: 213px;
		margin-left: -584px;
		padding-top: 32px;
	}


	.moore-carousel .slide-3 h3 {
		padding: 0;
		margin: 60px 0 0 32px;

	}

	.moore-carousel .slide-3 p {
		padding: 0;
		margin: 20px -25px 0 34px;
	}

	#slide-4 {
		margin-left: 16px;
    	margin-top: -51px;
	}

	.moore-carousel .slide-4 h3 {
		padding-top: 0;
		margin: 40px -100px 0 24px;

	}

	.moore-carousel .slide-4 p {
		padding: 0;
		margin: 21px -28px 0 37px;
	}

	#slide-5 {
		margin-left: 69px;
		margin-top: 52px;
	}

	.moore-carousel .slide-5 h3 {
		padding: 0;
		margin: 45px -56px 0 48px;

	}

	.moore-carousel .slide-5 p {
		padding: 0;
		margin: 23px -135px 0 49px;
	}

	#slide-6 {
    	margin-top: 340px;
		margin-left: -455px;
	}

	.moore-carousel .slide-6 h3 {
		padding: 0;
		margin: 27px 0px 0px 27px;

	}

	.moore-carousel .slide-6 p {
		padding: 0;
		margin: 19px -24px 0 29px;
	}

	#slide-7 {
    	margin-left: 0px;
    	margin-top: -51px;
	}

	.moore-carousel .slide-7 h3 {
		padding: 0;
		margin: 30px 0px 0 49px;

	}

	.moore-carousel .slide-7 p {
		padding: 0;
		margin: 22px -15px 0 57px;
	}

	#slide-8 {
    	margin-left: 213px;
		margin-top: 5px;
	}

	.moore-carousel .slide-8 h3 {
		padding: 0;
		margin: 40px 0px 20px 29px;

	}

	.moore-carousel .slide-8 p {
		padding: 0;
		margin: 0 0px 0 31px;
	}

	#slide-9 {
    	margin-top: 226px;
		margin-left: -655px;
	}

	.moore-carousel .slide-9 h3 {
		padding: 0;
		margin: 30px 0px 0 47px;

	}

	.moore-carousel .slide-9 p {
		padding: 0;
		margin: 18px -67px 0 43px;
	}

	/* Quotes */

	.moore-quotes .quote-block {
		margin: 25px;
		padding-top: 25px;
	}

	.moore-quotes {
		padding-bottom: 130px;
	}


	.moore-carousel .item  {
		display: inline-block;
		float: left;
		width: 33%;
	}



/*************** 
ABOUT YOU
****************/


	.resources .col1 {
		width: calc(100% - 270px);
		width: -webkit-calc(100% - 270px);
		width: -moz-calc(100% - 270px);
	}

	.resources .col2 {
		width: 270px;
	}


	.jumbo-tron {
		margin-bottom: 0;
	}

	.jumbo-tron h1 {
		padding-top: 77px;
		letter-spacing: 5px;
	}

	.image-share-text h3 {
		margin: 0px 14px 6px 29px;
		font-size: 13px;
		color: #fff;
		padding-bottom: 10px;

	}

	.jumpstart-text h6 {
	   	margin: 0px auto;
	    padding-top: 25px;
	    line-height: 1;
	    width: 150px;
	}


}

